html {
    background-color: #9cabe5;
    background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
    min-height: 1000px;
    font-family: 'helvetica neue';
  }
  

label {
    color: black;
  }
  
  #todo {
    accent-color: #777
  }
  
  #checkbox:checked+label {
    color: #777;
    text-decoration: line-through;
    &::before,
    &::after {
      -webkit-clip-path: inset(100%);
      clip-path: inset(100%);
      clip: rect 1px, 1px, 1px, 1px;
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }
    &::before {
      content: "[start of stricken text]";
    }
    &::after {
      content: "[end of stricken text]";
    }
  }